---
layout: base.njk
title: Minimal boilerplate for new projects built with Eleventy, Tailwind and PostCSS
---

<main class="px-4 text-center">
    <h1 class="font-bold text-xl mb-4">11ty-starter <span class="font-light text-lg text-gray-500">v{{ pkg.version }}</span></h1>
    <p class="mb-4">Boilerplate for projects built with Eleventy, Tailwind CSS, PurgeCSS and PostCSS</p>
    <p id="js"></p>
</main>